Importing Pandas library

In [1]:
import pandas as pd

Reading the data with pd.read_html

In [2]:
url = ('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
table = pd.read_html(url)
table[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Removing all rows that have Not assigned values for Borough

In [3]:
df = table[0]
df = df[df.Borough != 'Not assigned']

Changing any Not assigned values in Neighborhood to the corresponding Borough value. Also I am not sure why the notification popped up below the cell. It wasnt there before, when I run it again, its gone. Any input on that would be greatly appreciated.

In [12]:
df.loc[df['Neighbourhood'] == ('Not assigned'), 'Neighbourhood'] = df['Borough']

Grouping Neighborhood values by Postalcode

In [5]:

df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
df = df.sample(frac=1).reset_index()
df['Neighbourhood'] = df['Neighbourhood'].str.join(',')
df.head()

  Postcode           Borough                                Neighbourhood
0      M9P         Etobicoke                                    Westmount
1      M4H         East York                             Thorncliffe Park
2      M6G  Downtown Toronto                                     Christie
3      M6M              York  Del Ray,Keelesdale,Mount Dennis,Silverthorn
4      M3C        North York              Flemingdon Park,Don Mills South

Checking the shape.

In [6]:
df.shape

(103, 3)

Getting the latitude and longitude data

In [7]:
url_geo = ('https://cocl.us/Geospatial_data')
df_geo = pd.read_csv(url_geo, header=0)

Taking a quick look at table_geo

In [8]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merging df and df_geo and taking a quick look.

In [9]:
df_m = df.merge(df_geo, left_on='Postcode', right_on='Postal Code')

df_m.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
1,M4H,East York,Thorncliffe Park,M4H,43.705369,-79.349372
2,M6G,Downtown Toronto,Christie,M6G,43.669542,-79.422564
3,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",M6M,43.691116,-79.476013
4,M3C,North York,"Flemingdon Park,Don Mills South",M3C,43.725900,-79.340923

When merging df and df_geo it contains Postcode and Postal Code. Only one is needed so Postal Code is dropped.

In [10]:
df_m1 = df_m.drop('Postal Code', axis=1)

Taking a quick look at df_m1 after Postal Code has been dropped

In [11]:
df_m1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M9P,Etobicoke,Westmount,43.696319,-79.532242
1,M4H,East York,Thorncliffe Park,43.705369,-79.349372
2,M6G,Downtown Toronto,Christie,43.669542,-79.422564
3,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013
4,M3C,North York,"Flemingdon Park,Don Mills South",43.725900,-79.340923