Importing Pandas library

In [1]:
import pandas as pd

Reading the data with pd.read_html

In [2]:
url = ('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
table = pd.read_html(url)
table[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Removing all rows that have Not assigned values for Borough

In [3]:
df = table[0]
df = df[df.Borough != 'Not assigned']

Changing any Not assigned values in Neighborhood to the corresponding Borough value. Also I am not sure why the notification popped up below the cell. It wasnt there before. Any input on that would be greatly appreciated.

In [10]:
df.loc[df['Neighbourhood'] == ('Not assigned'), 'Neighbourhood'] = df['Borough']

Grouping Neighborhood values by Postalcode

In [7]:

df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
df = df.sample(frac=1).reset_index()
df['Neighbourhood'] = df['Neighbourhood'].str.join(',')

Seeing how the first 10 rows look.

In [8]:
df.head(10)

  Postcode           Borough                       Neighbourhood
0      M6R      West Toronto               Parkdale,Roncesvalles
1      M2J        North York          Fairview,Henry Farm,Oriole
2      M4N   Central Toronto                       Lawrence Park
3      M5P   Central Toronto  Forest Hill North,Forest Hill West
4      M5H  Downtown Toronto              Adelaide,King,Richmond
5      M5M        North York    Bedford Park,Lawrence Manor East
6      M2R        North York                     Willowdale West
7      M4A        North York                    Victoria Village
8      M1H       Scarborough                           Cedarbrae
9      M5N   Central Toronto                            Roselawn

Checking the shape.

In [9]:
df.shape

(103, 3)